# Python general
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django specific
*.log
db.sqlite3
db.sqlite3-journal
/media/
/static/

# Nix
result*
flake.lock

# Direnv
.direnv/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db
